<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <main id="app" class="d-flex hide">
    <div class="bg-photo"></div>
    <div class="tiles">
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
    </div>
    
    <div class="container showUp" id="app-box">
        <div class="container d-flex justify-content-center">
            
            <div class="box">
                <p class="text-center">Your uploaded photo:</p>

                <div class="img-container">
                    <img src="upload/<%= imgPath %>" alt="">
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <a href="/">
                        <button type="submit">Upload another</button>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="js/page-transition.js"></script>
    <script src="js/file-input.js"></script>
    <script src="js/mouse-paralax.js"></script>
</body>
</html>