.container {
  margin: auto;
  width: 100%;
  max-width: 1040px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-center {
  align-self: center;
}

.p-1 {
  padding: 10px;
}
